
/*---------------------------------------------
	02.0 Banner Style
---------------------------------------------*/
.hero-mobile{
	display:none;
}
.hero-buttons{
	width: 70%;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	margin:0 auto;
	.button-right{
		background: rgb(220, 53, 69);
		color: white;
		&:hover{
			z-index:99999;
			transition: 0.3s;
			transform: scale(1.025);
			transform-origin:-50%;
			-webkit-box-shadow: 16px 0px 26px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 16px 0px 26px 0px rgba(0,0,0,0.75);
			box-shadow: 16px 0px 26px 0px rgba(0,0,0,0.75);
		}
	}
	.button-left{
		color: black;
		&:hover{
			z-index:99999;
			transition: 0.3s;
			transform: scale(1.025);
			transform-origin:150%;
			-webkit-box-shadow: -16px 0px 26px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: -16px 0px 26px 0px rgba(0,0,0,0.75);
			box-shadow: -16px 0px 26px 0px rgba(0,0,0,0.75);
		}
	}
}

.hero-button1{
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	text-align: center;
	margin-top: 5rem;
	.button-right{
		background: rgb(220, 53, 69);
		color: white;
		transition: width ease 0.5s;
		-webkit-box-shadow: -12px 8px 30px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: -12px 8px 30px -5px rgba(0,0,0,0.75);
		box-shadow: -12px 8px 30px -5px rgba(0,0,0,0.75);
		&:hover{
			z-index:99999;
			width: 74%!important;
		}
	}
}

.hero-button2 {
	align-items: center;
	align-content: center;
	text-align: center;
	margin-top: 5rem;
	.button-left{
		color: black;
		transition: width ease 0.5s;
		-webkit-box-shadow: 12px 8px 30px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 12px 8px 30px -5px rgba(0,0,0,0.75);
		box-shadow: 12px 8px 30px -5px rgba(0,0,0,0.75);
		&:hover{
			z-index:99999;
			width: 74%!important;
		}
	}
}
.banner-1 .banner-content {
	padding: 100px 0px 0px;
	color: $black;
	position: relative;

	h1 {
		font-family: $addonFont;
		line-height: 1.3;
		font-size: 5.2rem;
		font-weight: 300;
		margin-bottom: 15px;
		margin-top: 100px;

	}
	h2{
		font-family: $addonFont;
		line-height: 1.2;
		font-size: 4.5rem;
		font-weight: 600;
		margin-bottom: 15px;
		margin-top: 45px;
	}
	.img-praca{
		position: absolute;
		z-index: -1;
		width: 17%;
		bottom: 40%;
		left: -2%;
	}
	span{
		font-size: 4.8rem;
		color: white;
	}
	p {
		color: $black;
		font-size: 2.1rem;
		font-family: $bodyFont;
		max-width: 100%;
		position: relative;
		line-height: 1.3;
		&:before {
			position: absolute;
	    content: url(../images/curv-arrow-2.png);
	    top: 100%;
	    left: 190px;
		}

	}
	.button {
		background: rgba($white, .15);
		padding: 14px 30px;
		margin-top: 20px;
		font-family: $headerFont;
		font-weight: 500;
		text-transform: uppercase;
		&:hover {
			background: $white;
			color: $primaryColor;
		}
		&-danger-bg{
			background-color: #dc3545 !important;
			color: $white !important;
		}
	}
}

.banner-2-bg {
	background: url(../images/bg/banner-2-bg.jpg) no-repeat bottom left;
	background-size: cover;
}

.banner-2 .banner-content {
	padding: 215px 0 170px;
	color: $blackRussianLite;
	h1 {
		font-family: $headerFont;
		font-size: 4.2rem;
		font-weight: 600;
		margin-bottom: 25px;
	}
	p {
		color: $fontColor;
		font-size: 1.6rem;
		font-family: $bodyFont;
		max-width: 500px;
	}
	.short-infos {
		display: flex;
		max-width: 350px;
		margin-top: 40px;
		.info {
			flex-grow: 1;
			h4 {
				font-size: 2.8rem;
				color: $blackRussianLite;
				font-weight: 600;
			}
			span {
				font-size: 1.6rem;
				font-family: $bodyFont;
				font-weight: 400;
				color: $fontColor;
			}
		}
	}
}

.banner-3-bg {
	background: url(../images/bg/banner-3-bg.jpg) no-repeat center left;
	background-size: cover;
}

.banner-3 .banner-content {
	padding: 70px 0 190px;
	h1 {
		font-family: $headerFont;
		font-size: 4.2rem;
		font-weight: 600;
		margin-bottom: 15px;
		color: $blackRussianLite;
	}
	p {
		color: $fontColor;
		font-size: 1.6rem;
		font-family: $bodyFont;
		max-width: 500px;
		position: relative;
		&:before {
			position: absolute;
			content: url(../images/curv-arrow.png);
			top: 100%;
			left: 190px;
		}
	}
	.button {
		background: $primaryColor;
		color: $white;
		padding: 14px 30px;
		margin-top: 20px;
		font-family: $headerFont;
		font-weight: 500;
		text-transform: uppercase;
		&:hover {
			color: $white;
			background: $primaryColor;
		}
	}
}

.banner-4-bg {
	background: url(../images/bg/banner-4-bg.jpg) no-repeat center;
	background-size: cover;
}

.banner-4 .banner-content {
	padding: 290px 0 210px;
	text-align: center;
	color: $white;
	h1 {
		font-size: 4.2rem;
		margin-bottom: 20px;
	}
	p {
		font-size: 1.6rem;
	}
	.banner-search {
		background: rgba($white, .2);
		max-width: 970px;
		margin: 40px auto 0;
		padding: 30px;
		border-radius: 5px;
		.search-form {
			input {
				height: 55px;
				border: 0;
				border-bottom: 2px solid rgba($white, .15);
				background: transparent;
				padding: 0;
				color: $white;
				outline: none;
				width: calc(50% - 110px);
				margin-right: 30px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $white;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $white;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $white;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $white;
				}
			}
			.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
				width: calc(50% - 110px);
				margin-right: 30px;
			}
			.btn {
				padding: 0;
				border: 0;
				border-bottom: 2px solid rgba($white, .15);
				height: 55px;
				background: transparent;
				border-radius: 0;
			}
			.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
				line-height: 55px;
				font-size: 1.4rem;
				color: $white;
			}
			.dropdown-toggle::after {
		    border-top: 5px solid $white;
		    border-right: 5px solid transparent;
		    border-bottom: 0;
		    border-left: 5px solid transparent;
			}
			.bootstrap-select:focus {
				outline: none !important;
				box-shadow: none;
			}
			.btn:focus,
			.btn-light:focus {
				box-shadow: none;
			}
			.bootstrap-select .dropdown-toggle:active:focus {
				background: transparent;
				outline: none !important;
			}
			.bootstrap-select .dropdown-toggle:focus {
				outline: none !important;
				color: $white;
			}
			.dropdown-menu {
				font-size: 1.4rem;
			}
			.button {
				width: 150px;
				color: $white;
				height: 55px;
				border-radius: 5px;
				i {
					margin-right: 10px;
				}
			}
		}
		.trending-key {
			font-size: 1.4rem;
			font-weight: 500;
			margin-top: 30px;
			text-align: left;
			span {
				margin-right: 10px;
			}
			a {
				font-style: italic;
				margin-right: 10px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

@media all and (max-width: 991px) {
	.img-mobile{
		display: none;
	}
	.container .row .about-us-text{
		width:100%!important;
	}
	.hero-mobile{
		display:flex!important;
		width:100%!important;
		.button-mobile{
			height: 91px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.hero-button1{
		display:none;
	}
	.hero-button2{
		display:none;
	}
	.banner-1 .banner-content {
		h2{
			margin-top:3rem!important;
			font-size:4.2rem!important;
		}
		p{
			font-size:2.0rem!important;
			margin: 0 auto !important;
			white-space: normal!important;
		}
	}
	.banner-2 .banner-content {
		padding: 150px 0 170px;
	}
}
@media all and (min-width: 1500px){
	.banner-content h2{
		margin-left:8rem;
	}
}
@media all and (max-width: 767px) {
	.banner-1 .banner-content,
	.banner-2 .banner-content,
	.banner-3 .banner-content,
	.banner-4 .banner-content {
		h1 {
			font-size: 3.4rem;
			font-family: $addonFont !important;
		}
		//h2 {
		//	font-size: 3.4rem;
		//	font-family: $addonFont !important;
		//}
		@media(max-width:720px){
			.text-praca{
				color: black;
			}
			.img-praca{
				display: none;
			}
		}
	}
	.banner-4 .banner-content {
		padding: 200px 0 150px;
		.banner-search {
			.search-form {
				input,
				.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
					width: 100%;
					margin-right: 0;
					margin-bottom: 20px;
				}
			}
		}
	}
}
