
/*---------------------------------------------
	04.0 Breadcrumb Style
---------------------------------------------*/

.breadcrumb-area {
	h1 {
		font-family: "Jost", sans-serif;
		font-weight: 600;
		font-size: 3.6rem !important;
		position: relative;
		z-index: 4;
	}
	.breadcrumb {
		padding: 0;
		padding-top: 12px;
		margin: 0;
		background: transparent;
		li {
			color: $fontColor;
			a {
				color: #aaaaaa;
				&:hover {
					color: $primaryColor;
				}
			}
		}
	}
}

.breadcrumb-form {
	text-align: right;
	form {
		max-width: 350px;
		position: relative;
		margin-left: auto;
		input {
			width: 100%;
			border: 0;
			border-radius: 0;
			border-bottom: 2px solid rgba($primaryColor, .2);
			background: transparent;
			outline: none;
			height: 50px;
			padding: 0;
			transition: all .3s ease;
			&:focus {
				border-color: $primaryColor;
			}
		}
		input:focus + button {
			color: $primaryColor;
		}
		button {
			background: transparent;
			position: absolute;
			top: 10px;
			right: 0;
			border: 0;
			box-shadow: none;
			outline: none;
			color: rgba($primaryColor, .3);
			transition: all .3s ease;
			cursor: pointer;
			&:hover {
				color: $primaryColor;
			}
		}
	}
}

@media all and (max-width: 767px) {
	.breadcrumb-form {
		form {
			margin-right: auto;
			margin-left: 0;
			margin-top: 15px;
		}
	}
}