/*---------------------------------------------
	11.0 Header Style
---------------------------------------------*/

.blur {
  position: absolute;
  z-index: -1;
  font-size: 5.8rem;
  color: #d6d6d6;
  filter: blur(2px);
  letter-spacing: 2px;
  top: -35px;
  left: 27%;
  @media (max-width: 720px) {
    display: none;
  }
}

.blur-page {
  left: -50px !important;
  width: 100%;
  top: 0px;
  position: absolute;
  z-index: 0;
  font-size: 5.8rem;
  color: #d6d6d6;
  filter: blur(2px);
  letter-spacing: 2px;
}

.blur-par {
  font-family: $headerFont;
  color: $greyTitle;
  font-weight: 600;
  font-size: 2.8rem;
  position: relative;
  z-index: 4;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
  h2 {
    font-family: $headerFont;
    font-weight: 600;
    font-size: 2.7rem;
    position: relative;
    z-index: 4;
    color: $greyTitle;
    @media all and (min-width: 1100px) {
      font-size: 2.9rem;
    }
  }

  p {
    font-size: 1.6rem;
    margin-top: 10px;
  }
}

.section-header.section-header-center {
  h6 {
    font-size: 1.8rem;
    font-family: $headerFont;
    color: $fontColor;
    font-weight: 600;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 2.6rem;
    color: $blackRussian;
    font-weight: 600;
  }
}

.section-header.section-header-2 {
  text-align: left;
}

.section-header-with-right-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-right {
    font-size: 1.5;
    font-family: $headerFont;
    font-weight: 500;
    color: $primaryColor;
  }
}

.navbar-direction {
  flex-direction: column;
}

header .absolute-nav {
  top: 0px !important;

  @media (max-width: 768px) {
    top: 25px !important;
  }
}

.menu-item a {
  color: $steel;

  &:hover {
    color: $primaryColor !important;
  }
}

@media all and (max-width: 479px) {
  .section-header-with-right-content {
    display: block;
    .header-right {
      margin-top: 10px;
    }
  }
}

.pracodawca-nav,
.pracownik-nav {
  margin-right: 7rem;
  text-transform: uppercase;
  white-space: nowrap;
  animation-name: fade;
  animation-duration: 1.5s;
  .active {
    color: $primaryColor;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
