
/*---------------------------------------------
	15.0 Testimonial Style
---------------------------------------------*/

.testimonial {
	h2{
		font-family: "Jost", sans-serif;
		font-weight: 600;
		font-size: 2.8rem !important;
		position: relative;
		z-index: 4;
	}
	text-align: center;
	.choose-your-profile {
		margin: 0 auto;
		width: 300px;
		height: auto;
		background-size: cover;
		.profile-pic{
			width:60%;
		}
	}
	.testimonial-quote {
		margin-bottom: 40px;
	}
	.testimonial-for {
		.testimonial-item {
			padding-bottom: 60px;
			outline: none;
			p {
				font-size: 2.0rem;
				font-family: $headerFont;
				font-weight: 400;
				max-width: 700px;
				margin: 0 auto;
			}
			h5 {
				font-size: 1.4rem;
				font-family: $headerFont;
				font-weight: 500;
				color: $primaryColor;
				text-transform: uppercase;
				margin-top: 30px;
			}
			.testimonial-title{
				font-size:2.3rem !important;
				color: $greyTitle;
			}
			.testimonial-text{
				color: $greyTitle;
			}
		}
	}
	.testimonial-nav {
		max-width: 500px;
		margin: 0 auto;
		.commenter-thumb {
			text-align: center;
			outline: none;
			.commenter {
				padding: 0 20px;
				border-radius: 50%;
			}
			.comapnyLogo {
				display: inline-block;
				margin-top: 15px;
			}
			&.slick-active {
				opacity: .3;
				cursor: pointer;
				&.slick-current {
					opacity: 1;
				}
			}
		}
	}
}
