/*=======================================================================
* Template Name: Oficiona
* Template URI: http://codepassenger.com/html/Oficiona
* Author: CodePassenger
* Author URI: http://codepassenger.com/
* Description: Job Board HTML Template
* Version: 1.4
* License: GPL v2 or later
* License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
* Tags: html, template, Oficiona, Job, Job Board, bootstrap, codepassenger
======================================================================= */
/* Table of content
--------------------------------------------




	01.0 General Style
	02.0 Banner Style
	03.0 Search Style
	04.0 Breadcrumb Style
	05.0 Category Style
	06.0 Job Style
	07.0 Candidate Style
	08.0 Company Style
	09.0 App Style
	10.0 Form Style
	11.0 Header Style
	12.0 Nav Style
	13.0 Animated-number Style
	14.0 Call-to-action Style
	15.0 Testimonial Style
	16.0 Advice Style
	17.0 Pricing Style
	18.0 Progress-bar Style
	19.0 Pagination Style
	20.0 Footer Style
	21.0 Employer Style
	22.0 About Style
	23.0 Working Process Style
	24.0 FAQ Style
	25.0 Blog Style
	26.0 Contact Style
	27.0 Payment Style
	28.0 Account Style
	
-------------------------------------------*/

@import "../node_modules/@fortawesome/fontawesome-free/all.css";

img {
  transform: translateZ(0);
  image-rendering: -webkit-optimize-contrast;
}

@import "partial/_variables.scss";
@import "partial/_mixin.scss";
@import "_general.scss";
@import "_banner.scss";
@import "_search.scss";
@import "_breadcrumb.scss";
@import "_category.scss";
@import "_job.scss";
@import "_candidate.scss";
@import "_company.scss";
@import "_app.scss";
@import "_form.scss";
@import "_header.scss";
@import "_nav.scss";
@import "_animated-number.scss";
@import "_call-to-action.scss";
@import "_testimonial.scss";
@import "_advice.scss";
@import "_pricing.scss";
@import "_progress-bar.scss";
@import "_pagination.scss";
@import "_footer.scss";
@import "_employer.scss";
@import "_about.scss";
@import "_working-process.scss";
@import "_faq.scss";
@import "_blog.scss";
@import "_contact.scss";
@import "_payment.scss";
@import "_account.scss";
@import "_animations.scss";
@import "_home.scss";
