@charset 'utf-8';

//Podstawowe fonty strony

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 100;
  src: local('Ubuntu Light'), local('Ubuntu Light'), url('Ubuntu/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 100;
  src: local('Ubuntu LightItalic'), local('Ubuntu-LightItalic'), url('Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
}


@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 200;
  src: local('Ubuntu Light'), local('Ubuntu Light'), url('Ubuntu/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 200;
  src: local('Ubuntu LightItalic'), local('Ubuntu-LightItalic'), url('Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Medium'), local('Ubuntu Medium'), url('Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Medium'), local('Ubuntu MediumItalic'), url('Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Medium'), local('Ubuntu MediumItalic'), url('Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Medium'), local('Ubuntu MediumItalic'), url('Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu MediumItalic'), url('Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu MediumItalic'), url('Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 600;
  src: local('Ubuntu Bold'), local('Ubuntu MediumItalic'), url('Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 600;
  src: local('Ubuntu Bold'), local('Ubuntu MediumItalic'), url('Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu MediumItalic'), url('Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu MediumItalic'), url('Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 800;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 800;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 900;
  src: local('Ubuntu Black'), local('Ubuntu-Black'), url('Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 900;
  src: local('Ubuntu BlackItalic'), local('Ubuntu-BlackItalic'), url('Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
}



/////////// MAP ///////////
/// https://www.w3.org/TR/2018/REC-css-fonts-3-20180920/
/// all: [ <‘font-style’> ||<‘font-weight’>]? <‘font-size’> [ / <‘line-height’> ]? <‘font-family’> ] | caption | icon | menu | message-box | small-caption | status-bar
/// style: normal, italic, oblique
/// weight: see @font-face positions
/// size: xx-small | x-small | small | medium | large | x-large | xx-large | larger | smaller
/// how this map use with function "font"
/// .element-html {
///   font: font(content); // 'Open Sans'
/// }
$fonts: (
        base: 300 13px/20px 'Ubuntu',
        standard: 300 1em 'Ubuntu',
        text: 300 1em 'Ubuntu',
  // fonty nagłówków h jako klasa np.: .h-2
        1: 600 2rem/1.4 'Ubuntu',
        2: 600 1.75rem/1.35 'Ubuntu',
        3: 600 1.5rem/1.3 'Ubuntu',
        4: 600 1.25rem/1.25 'Ubuntu',
        5: 600 1.15rem/1.2 'Ubuntu',
        6: 600 1.05rem/1.15 'Ubuntu',
  // stop fonty nagłówków z klasą
        title-1: 400 2rem/1.4 'Ubuntu',
        title-2: 400 1.75rem/1.35 'Ubuntu',
        title-3: 400 1.5rem/1.3 'Ubuntu',
        title-4: 400 1.25rem/1.25 'Ubuntu',
        title-5: 400 1.15rem/1.2 'Ubuntu',
        title-6: 400 1rem/1.15 'Ubuntu',
        name-company-font: 400 1em/1.35 'Ubuntu',
        title-company-font: 700 1.5em/1.35 'Ubuntu',
        lato: 1em 'Ubuntu',
        thin: 100 1em 'Ubuntu',
        extralight: 200 1em 'Ubuntu',
        light: 300 1em 'Ubuntu',
        normal: 400 1em 'Ubuntu',
        regular: 400 1em 'Ubuntu',
        medium: 500 1em 'Ubuntu',
        semi: 600 1em 'Ubuntu',
        semibold: 600 1em 'Ubuntu',
        bold: 700 1em 'Ubuntu',
        extra: 800 1em 'Ubuntu',
        extrabold: 800 1em 'Ubuntu',
        black: 900 1em 'Ubuntu',
        small: 300 0.7em/1.15 'Ubuntu',
        link: 400 1em 'Ubuntu',
        admin-link: 400 15px/23px 'Ubuntu',
        top-link: 400 18px/40px 'Ubuntu',
        menu-link: 400 14px/20px 'Ubuntu',
        menu-default-link: 400 15px/35px 'Ubuntu',
        title-page: 400 4.5vw/5vw 'Ubuntu',
        title-page-mobile: 400 1.6rem/1.9rem 'Ubuntu',
        subtitle-page: 400 1.4rem/1.2rem 'Ubuntu',
        section-title: 400 1.5em/1.5em 'Ubuntu',
        header:  300 1.2rem/1.5 'Ubuntu'
);
// Arek: //'-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"',

/////////////// FUNCTION ///////////////
/// Pobranie fontu z mapy fontów (przykład pod mapą)
@function font($key) {
  @if map-has-key($fonts, $key) {
    @return map-get($fonts, $key);
  }
  @warn "Unknown `#{$key}` in $fonts.";
  @return null;
}
