@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.transparent {
  background: rgba(0, 0, 0, 0);
}

//*{
//  border: 1px solid black;
//}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Ubuntu", sans-serif !important;
  color: #012442;
}

.btn-success {
  background-color: #97bf20;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.btn-primary {
  background-color: #009fe3;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.mask {
}

.header {
  //background: #a8a8a8 !important;

  .row {
    position: relative;
    height: 500px;
    flex-basis: auto;
    .col {
      top: 50%;
      height: 200px;
      img {
        position: absolute;
        width: auto;
        height: 90vh;
      }
    }

    @media (min-width: 720px) {
      .col {
        flex-basis: 0;
      }
    }
  }

  .menu {
    display: -ms-flexbox;
    color: white;
    font-weight: 600;
    flex-direction: row;
    display: flex;
    -ms-flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-top: 1.55%;
    align-items: center;

    a {
      color: white;
      padding: 15px;
    }
    .menu-item {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .nav-link,
  .a {
    color: white;
  }

  .tag {
    position: absolute;
    font-weight: 400;
    color: white !important;
    left: 30%;
    top: 40%;
    transform: translate(-50%, -50%);
    clear: both;
    font-size: 46px;
    p {
      color: white;
    }
  }

  .preparaty {
    font-size: 15px;
    padding: 4% 6%;
    font-weight: 700;
  }

  .mobile-list {
    display: none;
  }

  // .new_menu_class {
  //   border-top: 1px solid #97bf2079;
  //   white-space: nowrap;
  //   // padding-top: 2%;
  // }

  .desktop-navbar {
    border-top: 1px solid #97bf2079;
    white-space: nowrap;
  }

  .new_menu_class_alt {
    border-top: 1px solid #27415f;
  }

  .current-menu-item a {
    border-top: 2px solid #fff;
  }

  .outline-alt {
    border-top: 2px solid #27415f !important;
  }

  .link-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }

  .link-navbar a {
    text-decoration: none;
  }

  .doctor-image,
  .pharmacist-image {
    max-width: 1.25rem;
    margin-right: 1rem;
  }

  .pharmacist-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .doctor-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 0rem;
    padding-right: 1rem;
  }

  .doctor-container-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
  }

  .pharmacist-container-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
  }

  .websites-mobile {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-top: 5%;
  }

  .language-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
  }

  .language-container-mobile a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .language-container-mobile p {
    margin-top: 15px;
    padding: 5%;
  }

  .outline-green {
    border-right: 1px solid #97bf2079;
  }

  .outline-blue {
    border-right: 1px solid #27415f;
  }

  .link-text {
    color: #fff;
    margin-top: 20px;
    white-space: nowrap;
    font-size: 0.75rem;
  }

  .link-text-mobile {
    font-size: 1rem;
    color: #000;
  }

  .link-text-alt {
    color: #27415f !important;
  }

  .language-container {
    display: flex;
    flex-direction: row;
  }

  .language-container a {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .language-container a:hover {
    text-decoration: none;
  }

  .language {
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 20px;
    font-size: 0.75rem;
  }

  .language-mobile {
    color: #000;
    font-size: 1rem;
  }

  .language-alt {
    color: #27415f !important;
  }

  .menu-right-side {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .search {
      -moz-border-radius: 5px;
      height: 40px;
      width: 0px;
      display: none;
      color: black;
      font-weight: 600;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
      margin: auto;
      margin-top: 64px;
      margin-left: 0px;
      //position: relative;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding-bottom: 2rem;
    position: fixed;
    z-index: 9999;
  }

  @media (max-width: 1024px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      top: 0;
      width: 100%;
      padding-bottom: 1rem;
      position: fixed;
      z-index: 9999;
    }
  }

  .logo {
    width: 50% !important;
  }

  @media (max-width: 1024px) {
    .logo {
      width: 25% !important;
    }
  }

  .navbar-wrapper {
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 0;
    right: 0;
  }

  .navbar-main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .shadow {
    box-shadow: 0px 7px 27px -12px #000000;
  }

  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-top-left-radius: 0%;
    background-color: #a0bd49;
    height: 40px;
    width: 40px;
    margin: 0 1rem;
    cursor: pointer;
  }

  .search-icon img {
    max-width: 45%;
  }

  .secondary-header {
    background-color: white;
  }

  .secondary-text * {
    color: #27415f !important;
  }

  @media (max-width: 768px) {
    .menu {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 1024px) {
    .desktop-navbar {
      display: none;
    }

    .tag {
      left: 50% !important;
    }

    .new_menu_class {
      border: 0;
    }

    .current-menu-item a {
      border-top: 0;
    }

    .tag {
      font-size: 2.5em;
      font-weight: 300;
    }

    .menu-right-side {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .link-navbar {
      display: none;
    }

    .mobile-navbar {
      display: block;
      position: absolute;
      width: 35px;
      height: 8px;
      background-color: #a0bd49;
      right: 1rem;
      z-index: 9999;
    }

    .search-icon {
      display: flex;
      position: absolute;
      top: 1rem;
      right: 2%;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #a0bd49;
      height: 40px;
      width: 40px;
      cursor: pointer;
    }

    .mobile-wrapper {
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      cursor: pointer;
      padding: 5%;
      top: 2rem;
      right: 8%;
    }

    .active-p {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      background-color: #fff;
      top: 0;
      left: 0;
      height: 50vh;
      width: 100vw;
      box-shadow: 0px 7px 27px -12px #000000;
      animation: fadeIn 0.5s ease-in-both;
    }

    .mobile-navbar::before {
      content: "";
      display: block;
      position: absolute;
      width: 45px;
      height: 8px;
      background-color: #a0bd49;
      top: 1rem;
      right: 8%;
      z-index: 3;
    }

    .search-icon {
      right: 5rem;
    }

    .mobile-navbar::after {
      content: "";
      display: block;
      position: absolute;
      width: 45px;
      height: 8px;
      background-color: #a0bd49;
      top: -1rem;
      right: 8%;
      z-index: 3;
    }

    .menu {
      display: flex;
      height: 25%;
      justify-content: space-around;
      align-items: center;
      white-space: nowrap;
      flex-direction: column;
      font-size: 1.3rem;
      a {
        color: black !important;
        padding: 1rem;
      }
    }
  }

  button {
    margin-top: 10px;
    padding: 10px 15px 10px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
}

main {
  .news-list {
    .row {
      text-align: center;
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin: auto;
        margin-top: 15px;
        border-radius: 25px;
      }
    }
  }

  /*# sourceMappingURL=style.css.map */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
