@font-face {
    font-family: Cy;
    src: url("Cy-Regular.otf") format("opentype");
}

@font-face {
    font-family: Cy;
    font-weight: bold;
    src: url("Cy-Bold.otf") format("opentype");
}

@font-face {
    font-family: Cy;
    font-weight: normal;
    src: url("Cy-Regular.otf") format("opentype");
}