@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 100;
  src: local("Ubuntu Light"), local("Ubuntu Light"), url("Ubuntu/Ubuntu-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 100;
  src: local("Ubuntu LightItalic"), local("Ubuntu-LightItalic"), url("Ubuntu/Ubuntu-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 200;
  src: local("Ubuntu Light"), local("Ubuntu Light"), url("Ubuntu/Ubuntu-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 200;
  src: local("Ubuntu LightItalic"), local("Ubuntu-LightItalic"), url("Ubuntu/Ubuntu-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local("Ubuntu Medium"), local("Ubuntu Medium"), url("Ubuntu/Ubuntu-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local("Ubuntu Medium"), local("Ubuntu MediumItalic"), url("Ubuntu/Ubuntu-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Medium"), local("Ubuntu MediumItalic"), url("Ubuntu/Ubuntu-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu Medium"), local("Ubuntu MediumItalic"), url("Ubuntu/Ubuntu-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu MediumItalic"), url("Ubuntu/Ubuntu-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu MediumItalic"), url("Ubuntu/Ubuntu-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 600;
  src: local("Ubuntu Bold"), local("Ubuntu MediumItalic"), url("Ubuntu/Ubuntu-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 600;
  src: local("Ubuntu Bold"), local("Ubuntu MediumItalic"), url("Ubuntu/Ubuntu-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu MediumItalic"), url("Ubuntu/Ubuntu-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu MediumItalic"), url("Ubuntu/Ubuntu-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 800;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("Ubuntu/Ubuntu-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 800;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("Ubuntu/Ubuntu-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 900;
  src: local("Ubuntu Black"), local("Ubuntu-Black"), url("Ubuntu/Ubuntu-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 900;
  src: local("Ubuntu BlackItalic"), local("Ubuntu-BlackItalic"), url("Ubuntu/Ubuntu-BoldItalic.ttf") format("truetype"); }
