.header {
  background-image: url("https://workscout.in/wp-content/uploads/2019/12/banner_bg.jpg");
  background-size: cover; }
  .header .header-mask {
    z-index: 2;
    background-color: rgba(16, 16, 16, 0.5);
    height: 600px; }
    .header .header-mask .header-title {
      text-align: center;
      margin: 0 auto;
      font-size: 40px;
      color: white;
      padding: 15px 5px 15px 5px; }
    .header .header-mask .header-title-container {
      width: 80%;
      margin: 0 auto;
      height: 60%;
      display: block;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column; }
      .header .header-mask .header-title-container .main-search {
        height: 100px;
        background-color: white; }
      .header .header-mask .header-title-container .advanced-search {
        padding: 15px 15px 15px 15px;
        margin-top: 2%;
        background-color: white;
        height: 150px; }
        .header .header-mask .header-title-container .advanced-search .form-group {
          padding: 5px 15px 5px 15px; }
      .header .header-mask .header-title-container .inner-form {
        background: #fff;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 3px; }
        .header .header-mask .header-title-container .inner-form .input-field {
          height: 68px; }
          .header .header-mask .header-title-container .inner-form .input-field input {
            height: 100%;
            background: transparent;
            border: 0;
            display: block;
            width: 100%;
            padding: 10px 32px;
            font-size: 16px;
            color: #555; }
        .header .header-mask .header-title-container .inner-form .input-field.first-wrap {
          width: 200px;
          border-right: 1px solid rgba(0, 0, 0, 0.1); }
        .header .header-mask .header-title-container .inner-form .input-field.second-wrap {
          -ms-flex-positive: 1;
          flex-grow: 1; }
        .header .header-mask .header-title-container .inner-form .input-field.third-wrap {
          text-align: center;
          margin: auto;
          display: contents; }
          .header .header-mask .header-title-container .inner-form .input-field.third-wrap p {
            text-align: center;
            margin: 0 auto; }
      .header .header-mask .header-title-container .form-group {
        width: 40%;
        float: left; }
      .header .header-mask .header-title-container .header-title {
        color: #fff;
        font-weight: 400;
        text-transform: uppercase; }
      .header .header-mask .header-title-container .header-title-bold {
        color: #fff;
        font-weight: 700;
        text-transform: uppercase; }
      .header .header-mask .header-title-container .header-button {
        background-color: #009fe3;
        color: #fff;
        font-weight: 700;
        outline: 0;
        border: 0; }
  .header .header-image {
    height: 100%;
    max-width: 100%;
    z-index: -1; }
    .header .header-image .header-container {
      width: 95%;
      height: 100px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .header .header-image .header-container .header-logo {
        max-width: 8rem; }
    .header .header-image .header-nav-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .header .header-image .header-nav-container .header-nav {
        display: grid;
        grid-template-columns: repeat(12, auto);
        grid-template-rows: repeat(2, auto);
        width: 100%;
        height: 100%;
        margin-right: 2rem; }
      @media (max-width: 1024px) {
        .header .header-image .header-nav-container .header-nav {
          display: none; } }
      .header .header-image .header-nav-container .upper-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        grid-row: 1 / 2;
        grid-column: 9 / 11; }
        .header .header-image .header-nav-container .upper-nav .doctor-container {
          border-right: 1px solid #97c11f;
          padding: 3% 0;
          padding-right: 1.5rem; }
        .header .header-image .header-nav-container .upper-nav .pharm-container {
          border-right: 1px solid #97c11f;
          padding: 3% 1.5rem; }
        .header .header-image .header-nav-container .upper-nav .doctor-container,
        .header .header-image .header-nav-container .upper-nav .pharm-container {
          white-space: nowrap;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
          .header .header-image .header-nav-container .upper-nav .doctor-container .upper-link:hover,
          .header .header-image .header-nav-container .upper-nav .pharm-container .upper-link:hover {
            text-decoration: none; }
          .header .header-image .header-nav-container .upper-nav .doctor-container .upper-text,
          .header .header-image .header-nav-container .upper-nav .pharm-container .upper-text {
            color: #fff;
            margin: 0;
            font-size: 0.75rem; }
          .header .header-image .header-nav-container .upper-nav .doctor-container .upper-icon,
          .header .header-image .header-nav-container .upper-nav .pharm-container .upper-icon {
            height: 2rem;
            margin-right: 0.5rem; }
      .header .header-image .header-nav-container .language-nav {
        grid-row: 1 / 2;
        grid-column: 11 / 12;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 100%;
        max-width: 100%; }
        .header .header-image .header-nav-container .language-nav .language-list {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          list-style-type: none;
          margin: 0;
          height: 100%;
          width: 100%; }
          .header .header-image .header-nav-container .language-nav .language-list .language-item {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            margin-right: 1rem; }
            .header .header-image .header-nav-container .language-nav .language-list .language-item .language-link:hover {
              text-decoration: none;
              font-weight: 700; }
            .header .header-image .header-nav-container .language-nav .language-list .language-item .language-text {
              color: #fff;
              margin: 0;
              font-size: 0.9rem; }
      .header .header-image .header-nav-container .bottom-nav {
        grid-row: 2 / -1;
        grid-column: 1 / 12;
        border-top: 1px solid #97c11f; }
        .header .header-image .header-nav-container .bottom-nav .bottom-menu {
          display: flex;
          flex-direction: row;
          list-style-type: none; }
          .header .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item {
            padding: 0.5rem 0.7rem;
            box-sizing: border-box;
            z-index: 9999; }
            .header .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .bottom-link {
              color: #fff;
              white-space: nowrap;
              font-weight: 500;
              font-size: 1rem; }
              .header .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .bottom-link:hover {
                text-decoration: none; }
  .header .mobile-container {
    display: none; }
  @media (max-width: 1024px) {
    .header .mobile-container {
      display: block; } }
