main .container .row .col-8 .card {
  flex-direction: inherit;
  display: flex; }
  main .container .row .col-8 .card .logo {
    width: 60px;
    min-width: 60px;
    flex-wrap: wrap;
    float: left;
    margin: 0px; }
    main .container .row .col-8 .card .logo img {
      float: none;
      margin: 0px;
      padding: 0px;
      display: inline-block; }
  main .container .row .col-8 .card .job-info {
    width: 100%;
    float: left;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 110px; }
    main .container .row .col-8 .card .job-info h4 {
      letter-spacing: 0;
      font-size: 17px;
      line-height: 27px;
      margin-bottom: 5px;
      color: #333;
      margin-top: 2px; }
      main .container .row .col-8 .card .job-info h4 .profit-listing {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        text-align: right;
        max-width: 220px; }
        main .container .row .col-8 .card .job-info h4 .profit-listing .job-type {
          color: #186fc9;
          border: 1px solid #186fc9;
          background-color: rgba(24, 111, 201, 0.07); }
    main .container .row .col-8 .card .job-info ul {
      padding: 0;
      margin: 0;
      font-size: 14px;
      list-style: none; }
      main .container .row .col-8 .card .job-info ul li {
        padding: 0px;
        border-top: 0px; }
